<table
  style="
    background-color: rgba(9, 249, 191, 0.1);
    padding: 15px 15px 40px 15px;
    margin-bottom: 10px;
    font-family: arial;
  "
  border="0"
  width="100%"
  cellspacing="0"
  cellpadding="0"
  align="center"
>
  <tbody>
    <tr>
      <td>
        <table
          class="MainContainer"
          style="
            margin: 0 auto;
            margin-top: 80px;
            max-width: 600px;
            border-radius: 8px;
            overflow: hidden;
            background: #fff;
          "
          border="0"
          width="600px"
          cellspacing="0"
          cellpadding="0"
          align="center"
        >
          <thead>
            <tr>
              <td
                style="
                  background: #fff;
                  max-width: 600px;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                "
              >
        
               
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td
                style="
                  width: 600px;
                  height: 201px;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  background: linear-gradient(
                    112.65deg,
                    #11d8b5 -6.34%,
                    #1aa0c1 85.44%
                  );
                  color: #fff;
                "
              >
                Your login token is {{token}} valid for 300seconds            
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>